@tailwind base;
@tailwind components;
@tailwind utilities;

// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';
// @import './base.css';
@import '../../packages/components/index.scss';

@layer base {
  :root,
  :root.light {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';

    // packages/components
    @include light;
  }
  :root.dark {
    @include dark;
  }

  @media (prefers-color-scheme: dark) {
    :root,
    :root.dark {
      @include dark;
    }
    :root.light {
      @include light;
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
