{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-indent-props": [4,4],
    "no-restricted-globals": ["error", "event", "fdescribe"]
  }
}
