$light-background: #ffffff;
$light-foceground: #000000;

// $dark-background: #242627;
$dark-background: #1b1c1d;
$dark-foceground: #efefef;

@mixin dark {
  --bg-default: 210 4% 11%;
  --bg-soft: 210 4% 13%;
  --bg-mute: 210 4% 15%;
  --bg-deep: 210 4% 10%;
  --bg-light: 210 4% 18%;
  --fg-default: 0 0% 100%;
  --border: 210 4% 20%;
  --card: 210 4% 15%;
  --card-foreground: 0 0% 100%;

  color-scheme: dark light;

  // Wiki
  --skeleton-color: #27292a;
  --table-border-color: rgba(255, 255, 255, 0.2);
  --secondary-background-color: #27292a;
  --inline-math-image-filter: invert(1);
}

@mixin light {
  --bg-default: 0 0% 100%;
  --bg-soft: 0 0% 96%;
  --bg-mute: 0 0% 95%;
  --bg-deep: 0 0% 95%;
  --bg-light: 0 0% 100%;
  --fg-default: 0 0% 0%;
  --border: 0 0% 85%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 0%;

  // Wiki
  --skeleton-color: #ebebeb;
  --table-border-color: rgba(0, 0, 0, 0.2);
  --secondary-background-color: whitesmoke;
  --inline-math-image-filter: invert(0);
}

@mixin dark-mode {
  :global(.dark) {
    @content;
  }
}
