@import '../scss/icon';

.menu-button {
  &::before {
    position: absolute;
    z-index: -1;
    inset: 0 0 0 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    content: '';
    display: block;
    border-radius: var(--radius);
  }
}

.more {
  &::after {
    position: absolute;
    width: 1px;
    top: 20%;
    height: 60%;
    right: 0;
    content: '';
    display: block;
    background: rgba(255, 255, 255, 0.15);
  }
}

.more-icon {
  color: white;
  @include wechat-menu-more();
}

.other-icon {
  border: 2px solid currentColor;

  &::before {
    content: '';
    display: block;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: currentColor;
  }
}

.dropdown {
  position: absolute;
  backdrop-filter: blur(10px);
  top: 150%;
  right: 1.25em;
  width: 18.75em;
  height: 18.75em;
  padding: 1.25em;
  max-width: calc(100vw - 2.5em);
  border-radius: 0.5em;
  overflow: hidden;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 2em lightgray;
  display: none;

  &::before {
    content: '';
    background: white;
    width: 18px;
    height: 18px;
    position: absolute;
    display: block;
    top: -6px;
    right: 20px;
    transform: rotate(45deg);
    z-index: -1;
  }

  &.visible {
    display: block;
  }
}

// theme
.menu-button {
  &.light {
  }
  &.dark {
  }
}
