@import '../scss/icon';

.menu-button {
  &::before {
    position: absolute;
    z-index: -1;
    inset: 0 0 0 0;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    content: '';
    display: block;
    border-radius: 999px;
  }
}

.more {
  width: 50%;

  &::after {
    position: absolute;
    width: 1px;
    top: 20%;
    height: 60%;
    right: 0;
    content: '';
    display: block;
    background: rgba(255, 255, 255, 0.2);
  }
}

.dot {
  width: 50%;
}

@mixin _wechat_menu_more_dot($size: 4px) {
  width: $size;
  height: $size;
  border-radius: $size / 2;
  background: currentColor;
  position: absolute;
}

@mixin wechat-menu-more($size: 16px) {
  @include _wechat_menu_more_dot($size / 3);

  &::before {
    content: '';
    left: -100%;
    top: 50%;
    transform: translate(-$size / 8, -50%);
    @include _wechat_menu_more_dot($size / 4.5);
  }

  &::after {
    content: '';
    right: -100%;
    top: 50%;
    transform: translate($size / 8, -50%);
    @include _wechat_menu_more_dot($size / 4.5);
  }
}

.more-icon {
  color: white;
  @include wechat-menu-more();
}

.other-icon {
  border: 2px solid currentColor;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 45%;
    height: 45%;
    border-radius: 50%;
    background: currentColor;
  }
}

.dropdown {
  position: absolute;
  backdrop-filter: blur(10px);
  top: 150%;
  right: 1.25em;
  width: 18.75em;
  height: 18.75em;
  padding: 1.25em;
  max-width: calc(100vw - 2.5em);
  border-radius: 0.5em;
  overflow: hidden;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 2em lightgray;
  display: none;

  &::before {
    content: '';
    background: white;
    width: 18px;
    height: 18px;
    position: absolute;
    display: block;
    top: -6px;
    right: 20px;
    transform: rotate(45deg);
    z-index: -1;
  }

  &.visible {
    display: block;
  }
}

// theme
.menu-button {
  &.light {
  }
  &.dark {
  }
}
