.navigation-bar {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  padding-bottom: 8px;
  z-index: 500;
  pointer-events: none;
}
