@use 'sass:color';
@import '../scss/icon';
@import '../scss/theme';
@import '../scss/animate';

.nav-header {
  &.background {
    pointer-events: all;
    backdrop-filter: blur(2em);

    .back-btn {
      &::after {
        display: none;
      }
    }
  }
}

.header-wrapper {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--color, currentColor);
}

.back-btn {
  color: var(--color, currentColor);
  height: var(--size);
  background: none !important;
  border: none !important;
  box-shadow: none;
  padding: 0 0.25em;
  pointer-events: all;
  cursor: pointer;

  display: flex;
  align-items: center;
  margin: 0 var(--margin);
  position: relative;
  transition: transform 100ms;

  &:hover {
    transform: translate(-3px, 0);
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1);
    backdrop-filter: blur(10px);
    z-index: -1;
    border-radius: 9999px;
    border: none;
    top: 0;
    left: 0;
    // border: 1PX solid #888;
  }
}

.back-icon {
  position: absolute;
  display: block;
  // width: 100%;
  width: var(--size);
  height: 100%;
  color: transparent;

  @include back-icon();

  &::before,
  &::after {
    @include filter-invert();
  }
}

.title {
  pointer-events: all;
  padding-right: 0.5em;
}

// theme
.nav-header {
  &.light {
  }

  &.dark {
    &.background {
      backdrop-filter: blur(2em);
    }

    .header-wrapper {
      // --color: #{$dark-foceground};
      // --color: #{color.change($dark-foceground, $alpha: 0.85)};
    }
  }
}
