@use 'sass:color';
@import '../scss/icon';
@import '../scss/theme';
@import '../scss/style';

.menu-page-drawer {
  // --margin-top: 48PX;
  // --margin-left: 20PX;
  margin-left: env(safe-area-inset-left);
  padding-top: var(--margin-top);
  padding-left: calc(var(--margin-left) + 20px);
  @include light-scrollbar();
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0 18px;
  margin-top: 1px;
  cursor: pointer;
  // @apply bg-bg text-text;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 40px);
  }
}

.icon {
  @include filter-black;

  > img {
    display: block;
  }
}

@include dark-mode {
  .icon {
    @include filter-white(0.8);
  }
}

// theme
.menu-page-drawer {
  &.light {
  }

  &.dark {
    border-right: 1px solid lighten($dark-background, 10%);
    @include dark-scrollbar();

    .item {
      // background: $dark-background;
      // color: color.change($dark-foceground, $alpha: 0.85);
    }

    .icon {
      @include filter-white(0.8);

      &.shop {
        filter: none;
        background: lighten($dark-background, 20%);
        border-radius: 50%;
      }
    }
  }
}
