@use 'sass:color';
@import '../scss/theme';
@import '../scss/icon';
@import '../scss/style';

.backdrop {
  background-color: hsl(0 0 0 / 0.3);
}

.menu-drawer {
  @include light-scrollbar;
  transform: translate3d(-100%, 0, 0);

  &.visible {
    transform: translate3d(0, 0, 0);
  }
}

.menu-container {
  padding-bottom: calc(env(safe-area-inset-bottom) + 1em);
}

.menu-item {
  cursor: pointer;
  background-color: hsl(var(--bg-default));
  color: hsl(var(--text-default));
  display: flex;
  align-items: center;
  margin-top: 1px;
  padding: 16px 32px;
  position: relative;
}

@include dark-mode {
  .menu-drawer {
    @include dark-scrollbar;
  }

  .icon {
    @include filter-white(0.8);
  }
}
