/**折叠展开项 */
function foldMenu(e, ownerInstance){
  console.log('wxs ---- foldMenu ----wxs')
  // var subClass = e.currentTarget.dataset.subClass;
  // var parClass = e.currentTarget.dataset.parClass;
  var index = e.currentTarget.dataset.index;
  console.log('foldMenu - index ->', index)
  var subItem = ownerInstance.selectAllComponents('.fold-' + index);
  var icon = ownerInstance.selectComponent('.fold-i-' + index);
  var atomStructure = ownerInstance.selectComponent('.atomStructure')
  if(icon.hasClass('fold')){
    icon.removeClass('fold')
    for(var i=0; i<subItem.length;i++){
      subItem[i].setStyle({
        'max-height':'999px',
        opacity: '1',
        'margin-top': '1'
      })
    }
    if (atomStructure.hasClass('a-'+index)){
      atomStructure.setStyle({
        display: 'block'
      })
    }
  }else{
    icon.addClass('fold')
    for (var i = 0; i < subItem.length; i++) {
      subItem[i].setStyle({
        'max-height': '0px',
        opacity: '0',
        'margin-top': '0'
      })
    }
    if (atomStructure.hasClass('a-' + index)) {
      atomStructure.setStyle({
        display: 'none'
      })
    }
  }
  
}

function electronShellFormat(str){
  var electronShellList = str.split(',');
  var formatStr = electronShellList.join('-');
  return formatStr;
}


module.exports = {
  foldMenu: foldMenu,
  esFormat: electronShellFormat
}