@use 'sass:color';
@import "../../scss/color";
@import "../../scss/icon";
@import "../../scss/style";

.index-page {

  .navigation-button-wrapper {
    pointer-events: all;
    margin:0 var(--margin);

    > .nav-btn {
      width: var(--size);
      height: var(--size);
      background: none;
      backdrop-filter: blur(10px);
      --transition: all 0.3s;
      border-radius: (6em / 16);

      &.menu {
        @include  menu-icon(20PX, 2PX);
      }
      &.close {
        @include close-icon(20PX, 2PX);
      }
    }
  }
  .pt-container {
    display: flex;
    overflow: auto;
    font-size: 16PX;
    padding: (60em / 16) 0 (60em / 16);
    padding-bottom: calc(env(safe-area-inset-bottom) + (80em / 16));
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    box-sizing: border-box;

   @include light-scrollbar;
  
    > .periodic-table {
      font-size: 1em;
    }
  }
}

// theme
.index-page {
  &.light {

  }
  &.dark {
    background: $dark-background;
    color: $dark-foceground;

    .navigation-button-wrapper {
      > .nav-btn {
        color: $dark-foceground;
        background: color.change($dark-background,  $lightness: 5%, $alpha: 0.2);
      }
    }
    .pt-container {
      @include dark-scrollbar;
    }
  }
}