@import '../scss/style';

.element-box {
  position: relative;
  width: 3.75em;
  min-height: 3.75em;
  height: 100%;
  display: grid;
  grid:
        'tl tl tr tr'
        'ml mc mc mr'
        'b b b b';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.1em 1.8em auto;

  color: var(--color);

  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    inset: 1PX 0 0 1PX;
    top: 1PX;
    left: 1PX;
    width: calc(100% - 1PX);
    height: calc(100% - 1PX);
    background: currentColor;
    opacity: 0.03;
    z-index: -1;
    box-sizing: border-box;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.2;
    @include shadow-border();
  }

  // &:hover {
  //   .mc {
  //     transform: scale(1.2);
  //   }
  // }
  // &:active {
  //   .mc {
  //     // transform: scale(1.1);
  //   }
  // }
}

.tl, .tr {
  font-size: 0.65em;
  line-height: 1.8;
  font-weight: 300;
}

.tl {
  grid-area: tl;
  text-align: left;
  // font-weight: bold;
  margin-left: 0.35em;
}

.tr {
  grid-area: tr;
  text-align: right;
  // font-weight: bold;
  padding-right: 0.35em;
}

.mc {
  grid-area: mc;
  font-size: 1.375em;
  line-height: 1.3;
  text-align: center;
  font-weight: bold;
}

.mr {
  grid-area: mr;
  font-size: 0.65em;
  line-height: (30em / 16);
  text-align: center;
  font-weight: bold;
}

.bc {
  grid-area: b;
  font-size: 0.65em;
  text-align: center;
  // font-weight: bold;
  font-weight: 300;
  line-height: 1.2;
  padding: 0 0.2em;
  word-break: break-all;
}

