@import "@periodic-table-pro/components/index.scss";

.search-page {
    background-color: $light-background;
    min-height: 100vh;
}

// theme
.search-page {
    &.light {}

    &.dark {
        background-color: $dark-background;
    }
}
