@use 'sass:color';
@import '../scss/theme';
@import '../scss/media';

.tools {
  padding: 0 2em;
  margin-top: 2em;

  @include landscape {
    margin-top: 0;
  }
}

.item-box {
  display: block;
  // background-color: $light-background;
  margin-bottom: 2em;
  border-radius: 6px;
  overflow: hidden;
  @apply bg-bg;
}

.title {
  font-size: 20px;
  padding: 0.5em 1em 1em;
}

.illus {
  width: 100%;
  height: 120px;
  background: no-repeat center/450PX url('../assets/images/grid.png');
  @apply bg-bg-deep/60;

  > img {
    width: 100%;
    height: 100%;
  }

  &.cover {
    object-fit: cover;
  }
}

// theme
.tools {
  &.light {
  }

  &.dark {
    .item-box {
      background-color: $dark-background;
    }

    .illus {
      background-color: darken($dark-background, 2%);
    }
  }
}
