@use 'sass:color';
@import '../scss/theme';
@import '../scss/icon';

.about {
}

.section {
  font-size: 16px;
  line-height: 1.6;
  padding: 0 40px;
  margin-bottom: 22px;
}

.text {
  user-select: all;
  letter-spacing: -0.5px;
}
