@import "../scss/style";

.pan-pinch-wrapper {
    display: flex;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    padding: 3.75em 0;
    padding-bottom: calc(env(safe-area-inset-bottom) + 5em);
    box-sizing: border-box;
    @include light-scrollbar;
}

.pan-pinch {
    transform-origin: 0px 0px;
    touch-action: pan-x pan-y;
    margin: auto;
    will-change: font-size;
}

// theme
.pan-pinch-wrapper {
    &.light {}

    &.dark {
        @include dark-scrollbar;
    }
}