@use 'sass:color';
@import '../scss/theme';
@import '../scss/media';

.adjacent-navigation {
    font-size: 16PX;
    position: fixed;
    bottom: 0;
    left: 0;
    color: color.change($light-foceground, $alpha: 0.6);

    @include landscape {
        display: none;
    }
}

.box {
    width: 100vw;
    display: flex;
    backdrop-filter: blur(2em);
    background: color.change($light-background, $alpha: 0.65);
    justify-content: space-between;
    --border-color: #{color.change($light-foceground, $alpha: 0.1)};
    border-top: 1PX solid var(--border-color);
    // padding-bottom: env(safe-area-inset-bottom);
}

.item {
    height: 3.75em;
    // height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    background: none;
    border-radius: 0;
    color: inherit;
    position: relative;
    padding-bottom: env(safe-area-inset-bottom);

    &.primary {
        width: 50%;
        border: 1PX solid var(--border-color);
        border-top: none;
        border-bottom: none;
    }
}

.title {
    font-weight: bold;
    font-size: 1.2em;
}

.label {
    font-size: 0.65em;
}

.open-button {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
}


// theme 
.adjacent-navigation {
    &.light {}

    &.dark {
        color: color.change($dark-foceground, $alpha: 0.6);

        .box {
            background: color.change($dark-background, $alpha: 0.65);
            --border-color: #{color.change($dark-foceground, $alpha: 0.1)};
        }
    }
}