@use 'sass:color';
@import '../scss/theme';
@import '../scss/icon';
@import '../scss/animate';

.bottom-navigation-wrapper {
  margin-bottom: env(safe-area-inset-bottom);
}

.item {
  position: relative;
  font-size: (10em / 16);
  text-align: center;
  width: (60em / 10);
  padding: (10em / 10);
  box-sizing: border-box;
  color: inherit;
  @include buttonActionTransform;
}

.icon {
  font-size: inherit;
  width: (24em / 10);
  height: (24em / 10);
  display: block;
  margin: auto;

  @include filter-black(60%);

  > img {
    display: block;
  }
}

@include dark-mode {
  .icon {
    @include filter-white(60%);
  }
}
