.medium-long-form {
  .pt__periods {
    grid-area: periods;
    display: grid;
    font-size: 16PX;
    grid-template-columns: (20em / 16);
    grid-template-rows: repeat(10, 1fr);

    > .item {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      font-size: (10em / 16);
    }
  }
}
