@import '../scss/icon';
@import '../scss/theme';

.setting-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  padding: 0 24px;
  margin-top: 1px;
}

.title-container {
  display: flex;
  align-items: center;
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 12px;
  @include filter-black;

  > img {
    display: block;
  }
}

.title {
  font-size: 18px;
}

.value-container {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.5;
}

.switch {
  transform-origin: right center;
  transform: scale(0.8);
}

.icon.arrow {
  width: 1em;
  height: 1em;
  font-size: 1em;
  margin-left: (5em / 12);
}

// theme
.setting-item {
  &.light {
  }

  &.dark {
    .icon {
      @include filter-white;
    }
  }
}
