@use 'sass:color';
@import '../scss/media';
@import '../scss/theme';
@import '../scss/icon';
@import '../scss/color-sign';
@import '../scss/style';
@import '../scss/animate';

@include classification-light;

.detail-content {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
}

.drawer {
  --margin-top: 48px;
  --margin-left: 20px;

  margin-left: env(safe-area-inset-left);
  width: 280px;
  padding: 20px;
  padding-top: var(--margin-top);
  padding-left: calc(var(--margin-left) + 20px);
  display: none;

  // position: sticky;
  overflow: auto;
  border-right: 1px solid #dadada;

  @include light-scrollbar();
}

.drawer-item {
  margin-top: 12px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  border-radius: 6px;
  line-height: 42px;
  // background: white;

  @include buttonActionTransform;
}

.drawer-item-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;

  > img {
    display: block;
  }
}

.scroll-view {
  height: 100%;
  overflow: auto;
  flex-grow: 2;
  @include light-scrollbar();
}

.main {
  box-sizing: border-box;
  padding-bottom: 5em;
  border-bottom: env(safe-area-inset-bottom) solid transparent;
}

.ad-container {
  margin: 0.6em 0;
  display: flex;
  justify-content: center;
  background: $light-background;
}

@include landscape {
  // background: white;
  .drawer {
    display: block;
    // background: rgba(244, 244, 244, 0.74);
  }

  .scroll-view {
    --margin-top: 48px;
  }

  .main {
    width: 80%;
    max-width: 500px;
    padding: var(--margin-top) 20px;
    margin: auto;
  }
}

// theme
.detail-content {
  &.light {
  }

  &.dark {
    @include classification-dark;

    .drawer {
      @include dark-scrollbar();
      border-right: 1px solid lighten($dark-background, 10%);
    }

    .drawer-item {
      // background: $dark-background;
      // color: color.change($dark-foceground, $alpha: 0.85);
    }

    .drawer-item-icon {
      @include filter-white(0.8);
    }

    .scroll-view {
      @include dark-scrollbar();
    }

    .ad-container {
      background: $dark-background;
    }
  }
}
