@use 'sass:color';
@import '../scss/icon';
@import '../scss/media';
@import '../scss/theme';
@import '../scss/color-sign';

.props-group {
  margin: 0.6em 0;
}

.props-group.landscape {
  @include landscape {
    border-radius: 6PX;
    overflow: hidden;

    .props-headline {
      // background: #f2f2f2;
    }

    .expand-icon {
      display: none;
    }

    .item-container.collapse {
      max-height: 1200PX;
    }

    .props-item {
      // background: #f2f2f2;
      position: relative;
      margin-top: 0;


      &::before {
        content: '';
        position: absolute;
        height: 1PX;
        top: 0;
        // width: calc(100% - 92PX);
        // background: #dadada;
      }
    }
  }
}

.props-headline {
  padding: 0 20PX;
  display: flex;
  align-items: center;
  font-size: 18PX;
  line-height: 54PX;
  background: white;
}

.props-icon {
  width: 18PX;
  height: 18PX;
  margin-right: 10PX;

  @include filter-black;

  >img {
    display: block;
  }
}

.expand-icon {
  @include expand-icon;

  position: relative;
  margin-left: auto;
  right: 10PX;
  width: 18PX;
  height: 18PX;

  --transition: all 0.3s;

  &.collapse {
    @include collapse-icon;
  }
}

.item-container {
  max-height: 1200PX;
  transition: all 0.3s;

  &.collapse {
    max-height: 0;
    overflow: hidden;
  }
}

.props-item {
  // margin-top: 1PX;
  background: white;
  padding: 8PX 48PX;
  line-height: 1.6;
  font-size: 14PX;
  position: relative;
  display: block;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: calc(100% - 3em);
    background: currentColor;
    opacity: 0.1;
    display: block;
    height: 1PX;
  }
}

.inline-icon {
  @include icon;
}

.highlight-table {
  padding-top: 2em;
  padding-bottom: 2em;
}

.item-title {
  font-size: 1.2em;

  &.center {
    text-align: center;
  }
}


.item-value {
  letter-spacing: 1PX;
  display: block;
}

.electrons-per-shell {
  margin: 10PX 0;
  font-size: 16PX;
  text-align: center;
}

.eps-name {
  opacity: 0.8;
  font-size: 1em;
  margin: 0 0.2em;
  display: inline;
}

.eps-number {
  font-size: 1em;
  margin-right: 0.5em;
  display: inline;
  font-weight: bold;
}

.spectral-lines {
  margin-top: 10PX;
  height: 40PX;
  width: 100%;
  background: black;
}

.wikipedia {
  position: relative;
}

.wiki-more {
  text-align: right;
  color: blue;
  color: var(--color);
  font-weight: bold;
}

.crystal-structure {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-top: 0.5em;
}
.crystal-structure-img {
  display: block;
  width: 10em;
  height: 10em;
  object-fit: contain;
}


// theme
.props-group {
  &.light {}

  &.dark {
    .props-headline {
      background: $dark-background;
      color: color.change($dark-foceground, $alpha: 0.85);
    }

    .props-icon {
      @include filter-white(0.8);
    }

    .props-item {
      background: $dark-background;
      color: color.change($dark-foceground, $alpha: 0.85);
    }

    .crystal-structure-img {
      filter: invert(0.8);
    }

    .theme-filter {
      filter: invert(1);
    }
  }
}